body{
    background-color:#fbd189;

}

h1
{
color:rgb(255,1,1);
background-color: rgb(100,255,175);
}

#show_sketch
{
    float:right;
}
canvas{
border:5px solid rgb( 100,150,255);
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow:  rgb(112,144,69);}
    to{box-shadow: rgb(241,96,194);}
}

p{
    padding: top 10px;
    font-size:25px;
}